.minesweeper-board {
    display: flex;
    flex-direction: column;
}

.board-table {
    border-spacing:0;
}

.board-table td {
    border: 1px solid rgb(150, 150, 150);
    width: 40px;
    height: 40px;
    background-color: rgb(189, 189, 189);
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
}