.mistake-mark {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(10%, -30%);
    font-family: "Segoe UI Light";
    font-size: xxx-large;
    text-align: center;
}

img {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.board-table td.not-exposed {
    box-shadow: inset 9px 9px 1px -6px rgba(245, 245, 245, 0.7), inset -1px -1px 1px 2px rgba(125,124,128,1);
}

.board-table td.bombed {
    background-color: red;
}