.message-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
    background-color: rgba(167, 167, 167, 0.8);;
}

.message-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    width: 40%;
    height: 30%;
    border: solid;
    white-space: pre-line;
}

.message-modal-buttons {
    display: flex;
    justify-content: space-around;
}