.game-option {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 200px;
    width: 200px;
    background-color: rgb(189, 189, 189);
    box-shadow: inset 9px 9px 1px -6px rgba(245, 245, 245, 0.7), inset -1px -1px 1px 2px rgba(125,124,128,1);
}

.game-option div {
    display: flex;
    flex-direction: column;
    color: white;
}

.game-option.selected {
    border: solid 5px #00214b;
}

input {
    width: 7ch;
    text-align: center;
    background-color: inherit;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    font: inherit;
}

.green div {
    background-color: #67aa2a;
}

.yellow div {
    background-color: #d1ac0c;
}

.orange div {
    background-color: #d86230;
}

.purple div {
    background-color: #a74395;
}